.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px; }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body, html {
  height: 100%; }

/*GRID VIEW*/
[class*="col-"] {
  float: left;
  padding: 0 15px;
  /*border: 1px solid red;*/ }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

@media only screen and (max-width: 767px) {
  [class*="col-"] {
    width: 100%; } }

/*FONT-SIZE*/
h3 {
  font-size: 38px; }

/*FONTS*/
@font-face {
  font-family: "WorkSans-Bold";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/WorkSans-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "WorkSans-Regular";
  font-style: normal;
  src: url("../fonts/WorkSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'WorkSans-Medium';
  font-style: normal;
  src: url("../fonts/WorkSans-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "PlayfairDisplay-Bold";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/PlayfairDisplay-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "PlayfairDisplay-Italic";
  src: url("../fonts/PlayfairDisplay-Italic.ttf") format("truetype"); }

@font-face {
  font-family: "PlayfairDisplay-Regular";
  src: url("../fonts/PlayfairDisplay-Regular.ttf") format("truetype"); }

.header {
  background-color: darkgrey;
  padding-top: 20px;
  height: 100%; }

.header-banner {
  text-align: center; }

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF; }
  .banner-text_up {
    font-family: 'WorkSans-Bold', sans-serif;
    font-size: 14px; }
  .banner-text_mid {
    font-family: 'PlayfairDisplay-Bold', sans-serif;
    font-size: 48px; }
  .banner-text_low {
    font-family: 'PlayfairDisplay-Italic', sans-serif;
    font-size: 48px; }

.banner-scroll {
  font-size: 50px;
  color: #FFFFFF;
  position: absolute;
  bottom: 0;
  margin-left: -25px; }

/*navigation*/
.header-nav {
  width: 100%;
  /*position: relative;*/ }

/*burger-button*/
.burg-wrapper {
  position: fixed;
  top: 20px;
  right: 20px;
  display: inline-block;
  cursor: pointer;
  z-index: 3; }

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #FFFFFF;
  margin: 6px 0;
  transition: 0.4s; }

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px); }

.change .bar2 {
  opacity: 0; }

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px); }

/*menu burger button*/
.navigation {
  font-family: "PlayfairDisplay-Italic", sans-serif;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  text-align: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2; }
  .navigation-item {
    margin: 15px 0;
    display: block;
    letter-spacing: 8px;
    font-size: 48px;
    color: #FFF;
    text-decoration: none; }

/*MEDIA QUERIES*/
@media only screen and (max-width: 767px) {
  .banner-scroll {
    display: none; }
  .banner-text {
    margin: auto; }
    .banner-text_mid, .banner-text_low {
      font-size: 32px; }
  .navigation-item {
    font-size: 32px; } }

/*ABOUT*/
.about {
  background-color: #F6F6F6;
  text-align: center;
  padding: 100px 0; }

.about-title_img {
  width: 230px;
  height: 70px; }

.about-title_main {
  font-family: 'PlayfairDisplay-Bold', sans-serif; }

.about-title_text {
  font-family: 'WorkSans-Regular', sans-serif;
  font-size: 15px;
  margin: 40px 0; }

@media only screen and (max-width: 767px) {
  .about {
    padding: 20px 0; }
    .about-title_main {
      font-size: 24px; }
    .about-title_img {
      width: 200px;
      height: 50px; } }

/*NUMBERS*/
.numbers {
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 14px;
  color: #ffffff;
  background-image: url("../img/pattern.png");
  padding: 100px 0; }
  .numbers-item {
    float: left; }

.numbers-img {
  float: left;
  font-size: 50px;
  margin-right: 10px; }

.numbers-text {
  padding-top: 10px; }

@media only screen and (max-width: 767px) {
  .numbers {
    text-align: center;
    padding: 20px 0; }
    .numbers-item, .numbers-img {
      float: none; } }

/*BEST PROJECTS*/
.projects {
  background-color: #F6F6F6;
  padding: 100px 0; }
  .projects-title {
    text-align: center; }
    .projects-title_main {
      font-family: 'PlayfairDisplay-Bold', sans-serif; }
    .projects-title_text {
      font-family: "WorkSans-Regular", sans-serif;
      font-size: 15px;
      margin: 40px 0 60px; }

.photo-item {
  float: left; }
  .photo-item_img {
    width: 100%;
    padding: 20px;
    margin: 20px 0;
    height: 100px;
    background-image: url("../img/inst-photo.png"); }
    .photo-item_img.big {
      height: 240px; }

/*MEDIA QUERIES*/
@media only screen and (max-width: 767px) {
  .projects {
    padding: 20px 0; }
  .photo-item {
    float: none; } }

/*TESTIMONIALS*/
.testimonials {
  text-align: center;
  padding: 100px 0;
  color: #FFFFFF;
  background-image: url("../img/pattern.png"); }

.t-carousel_text {
  font-family: "PlayfairDisplay-Italic", sans-serif;
  font-size: 24px; }

.t-carousel_name {
  font-family: 'WorkSans-Medium', sans-serif;
  font-size: 14px; }

@media only screen and (max-width: 767px) {
  .testimonials {
    padding: 40px 0; }
  .t-carousel_text {
    font-size: 18px; } }

/*CLIENTS*/
.clients {
  padding: 60px 0; }
  .clients-img {
    float: left; }
    .clients-img.mobile {
      display: none; }

.clients-img + .clients-img {
  margin-left: 4%; }

@media only screen and (max-width: 767px) {
  .clients {
    text-align: center; }
  .clients-img {
    max-width: 120px;
    height: 80px; }
    .clients-img.mobile {
      display: block; }
    .clients-img.first {
      margin-left: 4%; } }

/*LATEST BLOG*/
.blog {
  background-color: #F6F6F6;
  border-bottom: 1px solid #ECECEC;
  padding: 100px 0; }
  .blog-title {
    text-align: center; }
    .blog-title_main {
      font-family: "PlayfairDisplay-Bold", sans-serif; }
    .blog-title_text {
      margin: 40px 0 60px;
      font-family: 'WorkSans-Regular', sans-serif;
      font-size: 15px; }

.b-carousel-img_item {
  width: 100%;
  height: 200px; }

.b-carousel-img {
  position: relative; }

.b-carousel-img_category {
  font-family: 'WorkSans-Medium', sans-serif;
  font-size: 12px;
  padding: 5px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 10px;
  left: 5px; }

.b-carousel-text {
  font-size: 15px;
  background-color: white;
  padding: 20px; }
  .b-carousel-text_title {
    font-family: "PlayfairDisplay-Bold", sans-serif;
    font-size: 18px;
    padding-bottom: 20px; }
  .b-carousel-text_main {
    font-family: "WorkSans-Regular", sans-serif;
    font-size: 15px;
    display: block;
    padding: 20px 0 20px; }
  .b-carousel-text_date {
    font-family: "WorkSans-Regular", sans-serif;
    font-size: 15px; }

@media only screen and (max-width: 767px) {
  .blog {
    padding: 20px 0; } }

/*CONTACT*/
.contact {
  padding: 100px 0;
  background-color: #F6F6F6;
  font-family: "WorkSans-Regular", sans-serif; }
  .contact-info {
    float: left; }
    .contact-info_title {
      font-family: "PlayfairDisplay-Bold", sans-serif; }
    .contact-info_text {
      margin: 30px 0 30px; }
    .contact-info_list {
      list-style: none; }

.info_list-item + .info_list-item {
  margin-top: 20px; }

.form-name {
  margin-right: 8%; }

.form-name, .form-email {
  width: 45%;
  border: none;
  padding: 10px 20px; }

.form-title {
  width: 100%;
  margin: 20px 0 20px;
  border: none;
  padding: 10px 20px; }

.form-comment {
  width: 100%;
  height: 200px;
  border: none;
  padding: 10px 20px; }

.form-submit {
  margin-top: 30px;
  padding: 20px 20px;
  background-color: #0C0C0C;
  color: #FFFFFF; }

.info_list-item:first-child {
  font-weight: 800; }

@media only screen and (max-width: 767px) {
  .contact {
    padding: 20px 0; }
  .form-name, .form-email {
    width: 100%; }
  .form-name {
    margin: 20px 0 20px 0; }
  .form-submit {
    width: 100%; } }

/*FOOTER*/
.footer {
  padding-top: 100px;
  background-color: #0C0C0C;
  color: #FFFFFF; }
  .footer-about_text {
    font-family: "PlayfairDisplay-Regular", sans-serif;
    font-size: 15px; }
  .footer-about, .footer-twits, .footer-inst {
    float: left; }
  .footer-title {
    font-family: "PlayfairDisplay-Bold", sans-serif;
    font-size: 20px;
    margin-bottom: 40px; }
  .footer-copyright {
    font-family: 'WorkSans-Regular', sans-serif;
    font-size: 14px;
    text-align: center;
    width: 100%;
    margin-top: 80px;
    border-top: 1px solid #FFFFFF;
    padding: 30px;
    display: inline-block; }

/*about us - social*/
.about_social-item .fb {
  background-image: url("../img/fb-icon.png"); }

.about_social-item .tw {
  background-image: url("../img/tw-icon.png"); }

.about_social-item .g {
  background-image: url("../img/g-icon.png"); }

.about_social-item .be {
  background-image: url("../img/be-icon.png"); }

.about_social-item .pi {
  background-image: url("../img/pi-icon.png"); }

.about_social-item .in {
  background-image: url("../img/in-icon.png"); }

.footer-about_social {
  margin-top: 30px;
  margin-left: -10px; }

.about_social-item {
  display: inline-block; }
  .about_social-item a {
    background: no-repeat center center;
    width: 30px;
    height: 30px;
    display: block; }

.footer-twits_list {
  font-family: 'WorkSans-Regular', sans-serif;
  list-style: inside;
  list-style-image: url("../img/tw-icon.png"); }

.twits_list-item + .twits_list-item {
  margin-top: 20px; }

.inst_photo-item {
  width: 60px;
  height: 60px;
  margin: 5px; }
  .inst_photo-item.mobile {
    display: none; }

@media only screen and (max-width: 767px) {
  .footer {
    padding: 20px 0;
    text-align: center; }
  .inst_photo-item.mobile {
    display: inline-block; } }
