.header {
background-color: darkgrey;
padding-top: 20px;
height: 100%;
}
//BANNER
.header-banner {
  text-align: center;
}
.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  &_up {
    font-family: 'WorkSans-Bold', sans-serif;
    font-size: 14px;
  }
  &_mid {
    font-family: 'PlayfairDisplay-Bold', sans-serif;
    font-size: 48px;
  }
  &_low {
    font-family: 'PlayfairDisplay-Italic', sans-serif;
    font-size: 48px;
  }
}
.banner-scroll {
  font-size: 50px;
  color: #FFFFFF;
  position: absolute;
  bottom: 0;
  margin-left: -25px;
}
/*navigation*/
.header-nav {
  width: 100%;
  /*position: relative;*/
}
/*burger-button*/
.burg-wrapper {
  position: fixed;
  top: 20px;
  right: 20px;
  display: inline-block;
  cursor: pointer;
  z-index: 3;
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #FFFFFF;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}
.change .bar2 {opacity: 0;}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}
/*menu burger button*/
.navigation {
  font-family: "PlayfairDisplay-Italic", sans-serif;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  text-align: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  &-item {
    margin: 15px 0;
    display: block;
    letter-spacing: 8px;
    font-size: 48px;
    color: #FFF;
    text-decoration: none;
    }
  }

/*MEDIA QUERIES*/
//992
@media only screen and (max-width: 992px) {

}
// 767
@media only screen and (max-width: 767px) {
  .banner-scroll {
    display: none;
  }
  .banner-text {
    margin: auto;
    &_mid, &_low {
      font-size: 32px;
    }
  }
  .navigation-item {
    font-size: 32px;
  }
}