.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body, html {
  height: 100%;
}

/*GRID VIEW*/
[class*="col-"] {
  float: left;
  padding: 0 15px;
  /*border: 1px solid red;*/
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 767px) {
  [class*="col-"] {
    width: 100%;
  }
}

/*FONT-SIZE*/
h3 {
  font-size: 38px;
}
/*FONTS*/
@font-face {
  font-family: "WorkSans-Bold";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/WorkSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "WorkSans-Regular";
  font-style: normal;
  src: url("../fonts/WorkSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'WorkSans-Medium';
  font-style: normal;
  src: url("../fonts/WorkSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "PlayfairDisplay-Bold";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/PlayfairDisplay-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "PlayfairDisplay-Italic";
  src: url("../fonts/PlayfairDisplay-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "PlayfairDisplay-Regular";
  src: url("../fonts/PlayfairDisplay-Regular.ttf") format("truetype");
}